@model List<ContatoModel>
@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
@if(TempData["Sucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Sucesso"]
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
    </div>
}

@if(TempData["Erro"] != null)
{
   <div class="alert alert-danger" role="alert">
        @TempData["Erro"]
  <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
</div>
}
<div class="container">

</div>
<div class="text-center text-light">
    <h1>Contatos</h1> 
 <table class="table table-striped text-success">
   <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome </th>
      <th scope="col">Sobrenome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefones</th>
      <th scope="col">Observação</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @if (Model != null && Model.Any())
    {
        foreach(ContatoModel contato in Model)
        {
       <tr>
      <th scope="row">@contato.id</th>
      <td>@contato.Nome</td>
      <td>@contato.sobrenome</td>
      <td>@contato.email</td>
      <td>@contato.telefone</td>
      <td>@contato.observacao</td>
      <td>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <a role="button" class="btn btn-danger" asp-route-id="@contato.id" asp-controller="Home" asp-action="ApagarContato">Apagar</a>
  <a role ="button" class="btn btn-success" asp-route-id="@contato.id" asp-controller="Home" asp-action="EditarContato">Modificar</a>
    </div></td>
    </tr>
        }

    }
  </tbody>
</table>
</div>
<br />
<br />
<div class="d-grid gap-2 d-md flex-column justify-content-md-start">
    <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="CriarContato">Adicionar contato</a> 
</div>
